DATABASE_URL=postgresql+asyncpg://postgres:password@aws-0-us-east-1.pooler.supabase.com:6543/postgres
SECRET_KEY=tu-secret-key-jwt-aqui
DEBUG=false
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_PUBLISHABLE_KEY=tu-publishable-key-aqui
SUPABASE_SECRET_KEY=tu-secret-key-aqui
SUPABASE_JWKS_URL=https://tu-proyecto.supabase.co/auth/v1/.well-known/jwks.json
HOST=0.0.0.0
PORT=8000
